<div class="jumbotron text-center" style="margin-top: 10%; background-color: navy;">
    <h2 style="color: white;">Random Passcode (Passcode #@ViewBag.Num)</h2>
    <h1 style="color: white;">@ViewBag.Word</h1><br>
    <a href="/generate"><button class="btn btn-info">Generate</button></a>
    <a href="/reset"><button class="btn btn-info">Reset</button></a>
</div>